.widget-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

.widget-scroll::-webkit-scrollbar {
  width: 6px;
}

.widget-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.widget-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.widget-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
} 